{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>malmal</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main/style.css' %}" type="text/css" />
    </head>
    
    <body>
        <h1>MalMal</h1>
        <button type ="button" class="btn btn-primary">LOGIN</button>
        <button type ="button" class="btn btn-primary">Sign Up</button>
  
        
        <h3>Category 1</h3>
        <div class="card" style="width: 13rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card" style="width: 13rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card" style="width: 13rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
                
    </body>
</html>